.navbar-text {
    margin-right: 1rem;
    margin-left: 1rem;
}

.navbar-bg {
    background-image: radial-gradient(#de1a1a, #A01313);
    background-image: -webkit-radial-gradient(center, ellipse cover, #de1a1a 0%, #A01313 100%);
    background-image: -moz-radial-gradient(center, ellipse cover, #de1a1a 0%, #A01313 100%);
    color: rgb(121, 152, 179);
}

.title {
    color: white;
    padding: 0px 10px 0px 10px;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
}

.title-text{
    font-size: 60px;
}

#subtitle {
    background-color: rgba(255, 255, 255, 0.676);
    border-bottom: #A01313 2px solid;
    font-size: 20px;
}

.author{
    font-size: 20px;
    font-style: italic;
}
/* PCs */
@media screen and (min-width: 729px){

    .mainContent {
        position: absolute;
        z-index: 999;
    }

    .bgcarousel {
        position: absolute;
        z-index: -999;
        filter: blur(2px);
        height: 100%;
        background-repeat: repeat-y;
    }
}

/* Móviles */
@media screen and (max-width: 728px){
    .mainContent {
        background-image: url('./../../public/cadarso1.jpg');
        background-repeat: repeat-y;
        background-position: center;
    }

    .bgcarousel {
        display: none;
    }
}