@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');

.postal{
    background: linear-gradient(45deg, #4a62e9, #11045c);
    border-radius: 10px;

}
.postalWrapper{
    background-image: url('./../../public/bg.png');
    background-repeat: repeat;
    border-radius: 10px;
}

.pag-izqda {
    width: 50%;
    text-align: left;
}

.pag-dcha {
    width: 50%;
}

.pag-izq {
    width: 50%;
    height: 100%;
    padding: 20px;
    text-align: right;
    margin-right: 10px; 
}

.pag-dcha {
    padding: 20px;
}

.postal-dedicatoria{
    font-size: 4rem;
    font-family: 'Caramel', cursive;
}

.postal-cuerpo{
    font-size: 1.1rem;
    font-weight: 600;
}
.postal-posdata {
    font-size: 1.5rem;
    font-style: italic;
}

.postal-autor {
    font-size: 1rem;
    font-style: italic;
}

.postal-imagen {
    border-radius: 10px;
    border: 3px solid #616161;
    width: 80%;
}